<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones principales</title>
</head>
<body>
    <h3>Opciones</h3><br>
    <a href="/pacientes">Gestión de pacientes</a><br>
    <a href="/especialistas">Gestión de especialistas</a><br>
    <a href="/citas">Gestión de citas (agenda)</a><br>
    <a href="/usuarios">Gestión de usuarios</a><br>
    <br>
    <h2>Bienvenido(a) {{nom}}</h2>
</body>
</html>