name: CI - Pruebas unitarias Consultorio

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'

      - name: Install MySQL Server ans Set Password
        run: |
          sudo apt-get update
          sudo apt-get install -y mysql-server mysql-client
          sudo service mysql start
          sudo  mysqladmin -u root password 'ci_password'

      - name: Install Database Schema and Database
        run: |
          sudo mysql -u root -p ci_password < consultorio06.sql

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run test
        run: |
          pytest